{% extends 'base.html.twig' %}

{% block title %}Next level - Спасибо за отзыв{% endblock %}

{% block content %}
<!-- Home page contant start -->
<div class="flex flex-col items-center h-[100vh] md:h-[90vh] lg:h-[80vh] xl:h-[71vh] justify-center aos-init aos-animate"
     data-aos="fade">
    <!-- personal image -->
    <img class="rounded-full w-[250px] h-[250px] 2xl:w-[280px] 2xl:h-[280px]"
         src="{{ asset('images/about/avatar.png') }}" alt="about avatar" />
    <h3 class="mt-6 mb-1 text-5xl font-semibold dark:text-white"> Спасибо за ваш отзыв, вы нам очень помогли </h3>
</div>
<!-- Home page contant End -->
{% endblock %}

{% block modal_menu %}

{% endblock %}

{% block main_menu %}{% endblock %}
{% block mobile_menu %} {% endblock %}
{% block mobile_menu_buttons %}{% endblock %}

